@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;400;700&display=swap");

:root {
  --base-black: #070707;
  --link-gray: #b3b3b3;
  --link-hover: #f4f4f5;
  --lg-font: 3rem;
  --md-font: 2rem;
  --sm-font: 1rem;
}

/* base styling */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--base-black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* KEY FRAMES */
@keyframes fade-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.link {
  color: var(--link-gray);
  font-size: var(--lg-font);
  text-transform: uppercase;
  font-size: 5rem;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: var(--link-hover);
  transform: translateX(10px);
}
.container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  background-image: url("./assets/CFS_Paloma_Infinity_Shot_04.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 0% 35%;
  position: relative;
}


/* Navbar Styling */
.navbar {
  display: flex;
  margin-left: auto;
  padding: 1rem;
}
#menu-toggle-btn {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  visibility: hidden;
}
#menu-toggle-btn.active {
  width: 24px;
}
/* Hamburger Icon */
span {
  height: 2px;
  background: #fff;
  width: 26px;
  display: inline-block;
  top: 50%;
  transition: all 0.3s;
}

span:before {
  content: " ";
  position: absolute;
  display: inline-block;
  height: 2px;
  background: #fff;
  transform: translateY(-6px);
  width: 24px;
  transition: all 0.3s;
}

.active span {
  background-color: #fff;
  transform: rotate(45deg);
}
.active span:before {
  top: unset;
  transform: rotate(-90deg);
  background: #fff;
}
.active:hover span:before {
 top: unset;
}
/* Hamburger Links */
.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  color: var(--link-gray);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  /* visibility: hidden; */
  transform: translateY(-120%);
  transition: transform 0.3s ease-in;
}
.nav-container.active {
  transform: translateY(0%);
}

.nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.nav-item-wrapper::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 500px;
  height: 60px;
  background-color: #000;
  margin: 0 auto;
  transition: 1s;
}
.links {
  font-family: "Anton", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  position: absolute;
  width: min-content;
  position: fixed;
  bottom: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  transform-origin: top right;
  transform: translate(-270%, 62%) rotate(-90deg);
  transition: all 0.3s ease-in;
}

.links:hover {
  transform: translate();
}

.logo {
  height: 100%;
  position: absolute;
  padding: 1rem;
  animation: fade-up 2.5s ease-in-out;
}
/* Navbar Logo */
.logo.nav {
    z-index: 999;
    rotate: 90deg;
    left: 50%;
    transform-origin: left bottom;
    bottom: 100px;
    transform: rotate(0deg) translate(-50%, 50%);
}

/* Media Queries */
@media only screen and (max-width: 1100px) {
  .nav {
    flex-direction: column-reverse;
  }

  .links {
    display: none;
  }
  .logo {
    height: 300px;
    bottom: 0;
  }
  #menu-toggle-btn {
    visibility: visible;
  }
}
